<head>
    <meta charset="UTF-8">
    <title>TEST</title>
</head>
<h1>Witamy w wypożyczalni</h1>

<form action="/multi-field-search" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name">
    <label for="description">Opis:</label>
    <input type="text" name="description">
<!--    <input type="hidden" name="{{_csrf.parameterName}} value="{{_csrf.token}}>-->
    <button type="submit">Search</button>
</form>

<form action="/universal-search" method="post">
    <label for="value">Search:</label>
    <input type="text" name="value">
<!--    <input type="hidden" name="{{_csrf.parameterName}} value="{{_csrf.token}}>-->
    <button type="submit">Search</button>
</form>


<ul>
    {{#videos}}
        <li>{{name}}</li>
    {{/videos}}
</ul>

<form action="/new-video" method="post">
    <input type="text" name="name">
    <input type="text" name="description">
<!--    <input type="hidden" name="{{_csrf.parameterName}} value="{{_csrf.token}}>-->
    <button type="submit">SUBMIT</button>
</form>
