<head>
    <meta charset="UTF-8">
    <title>TEST</title>
</head>
<h1>Witamy w wypożyczalni</h1>
<ul>
    {{#videos}}
        <li>{{name}}</li>
    {{/videos}}
</ul>

<form action="/new-video" method="post">
    <input type="text" name="name">
    <button type="submit">SUBMIT</button>
</form>
